<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
      We Love Dev Blog
      {{#if title}}
        - {{title}}
      {{/if}}
    </title>

		<meta name="description" content="{{description}}">
		<meta name="keywords" content="{{keywords}}">
		<meta name="author" content="{{author.name}}">

		<link rel="shortcut icon" href="/public/img/favicon.png">

		<link rel="stylesheet" href="/public/css/style.css">
		<link rel="stylesheet" href="/public/css/awesomplete.css">
		{{#if hasCode}}
			<link rel="stylesheet" href="/public/css/sh-core.css">
		{{/if}}
	</head>

  <body>
    <button id="header-toggle" class="header-toggle headroom">
      <img src="/public/img/menu-icon.svg" alt="Abrir menu">
      <span class="text-invisible">Abrir menu</span>
    </button>

		{{#if closeMenu}}
			<header id="header" class="header always-closed flex flex-column space-around" role="banner">
			<button class="close-button transparent show">
		{{else}}
			<header id="header" class="header flex flex-column space-around" role="banner">
			<button class="close-button transparent">
		{{/if}}
				<img src="/public/img/close-icon.svg" alt="Fechar menu">
				<span class="text-invisible">Fechar menu</span>
			</button>

			<h1 class="logo align-self-center sm-60 md-100">
				<img src="/public/img/we-love-dev-logo.svg" alt="We Love Dev logo">
				<span class="text-invisible">We Love Dev Blog</span>
			</h1>

      <div>
				<nav role="navigation">
					<ul class="categories-list" role="menubar">
            {{#each tags}}
  						<li>
  							<a href="/{{path}}" class="post-category">
  								<span class="inner">{{name}}</span>
  							</a>
  						</li>
            {{/each}}
          </ul>
				</nav>

        <form class="flex flex-row justify-content-center" role="search">
          <input id="search" type="search"
            class="awesomplete input-addon-field input-search text-white"
            placeholder="Buscar" required>

          <button class="button-search">
            <span class="text-invisible">Pesquisar</span>
            <img src="/public/img/search-icon.svg" alt="Ícone de pesquisa">
          </button>
        </form>
      </div>

      <div>
        <a class="link-icon icon" href="#" target="_blank">
          <img src="/public/img/facebook-icon.svg" alt="Ícone do Facebook">
          <span class="text-invisible">Nossa página no Facebook</span>
        </a>

        <a class="link-icon icon" href="https://github.com/we-love-dev" target="_blank">
          <img src="/public/img/github-icon.svg" alt="Ícone do Github">
          <span class="text-invisible">Nosso repositório no Github</span>
        </a>
      </div>

      <a class="about-link text-green text-bold" href="/sobre-o-blog">Sobre</a>
    </header>

    <main class="main" role="main">
      {{{body}}}
    </main>

    <script src="/public/js/menu.js"></script>
    <script src="/public/js/headroom.js"></script>
    <script src="/public/js/awesomplete.js"></script>

		{{#if hasCode}}
			<script src="/public/js/sh/sh-core.js"></script>
			<script src="/public/js/sh/sh-brush-java.js"></script>
			<script src="/public/js/sh/sh-brush-javascript.js"></script>
			<script src="/public/js/sh/sh-brush-sql.js"></script>
			<script src="/public/js/sh/sh-brush-xml.js"></script>
			<script>
				SyntaxHighlighter.all();
			</script>
		{{/if}}

		<script src="/public/js/main.js"></script>
  </body>
</html>
