<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
      We Love Dev Blog
      {{#if title}}
        - {{title}}
      {{/if}}
    </title>

		<meta name="description" content="{{description}}">
		<meta name="keywords" content="{{keywords}}">
		<meta name="author" content="{{author.name}}">

		<link rel="shortcut icon" href="/public/img/favicon.png">

		{{>styles}}
	</head>

  <body>

		{{>menu}}

    <main class="main" role="main">
      {{{body}}}
    </main>

    {{>scripts}}

		{{>analytics}}

  </body>
</html>
